.container {
    height: 100vh;
  }
  
  .cloudsGradient {
    background: linear-gradient(to right, #817c78, #4d4e4f, #454749);
  }
  
  .rainGradient {
    background: linear-gradient(to right, #8ab1e2, #3f75b1, #3970ab);
  }
  
  .clearGradient {
    background: linear-gradient(to right, #8ab1e2, #3f75b1, #3970ab);
  }
  
  .defaultGradient {
    background: linear-gradient(to right, #f8fafc, #fce7d6, #efeef3);
  }